html {
    font-size: 62,5%;}


nav ul li{display:list-item;
    margin: 15px 15px;
    text-align:initial;
    font-weight: bold;
    margin-block-start:0fr ;
    background-color: antiquewhite;
}   
a{text-decoration: none;}

.logovs{width: 200px;
height: 200px;
display:inline-block;
justify-self:left;
margin-left: 5px; margin-bottom: 10px;}

h1{text-align: center;
font-family:'Times New Roman', Times, serif;
font-size: 40px;}
h2{text-align: center;}
h3{margin-top: 100px;
margin-bottom: 5px;
font-size: medium;}

.contenedorfooter{display:inline-block}
.contenedorimagenes{display: inline-block; justify-items:center;}
.hanna{height: 300px; width: 300px; margin: 5px;}
.lorenzo{height: 300px; width: 300px;margin: 5px;}
.ranch{height: 300px; width: 300px;margin: 5px;}
.justina{height: 300px; width: 300px;margin: 5px;}
.piñata{height: 300px; width: 300px;margin: 5px;}
.leon{height: 300px; width: 300px;margin: 5px;}
.insta{height: 50px; width: 50px ; margin: 10px;}
.face{height: 60px; width: 60px ; margin: 10px;}
.whatsapp{height: 70px; width: 70px ; margin-top:30px;
margin-bottom: 5px;}

.p1{text-align: justify;}
.p2{text-align: center; font-weight: bold;}

table{text-align: center;}
.titulocalendario{font-family: 'Times New Roman', Times, serif;
font-size: 30px;}

form label{display:block; text-align:start;
font-weight: bold;}
div2{display:block; margin-top:10px; margin-bottom: 20px;}
.textoinicio{text-align: center;background-color: rgb(238, 162, 219);}

.contenedor{
    background-color:antiquewhite;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas:
    "header header"
    "main main"
    "aside aside"
    "footer footer"
}


.headerindex{
    display: grid;
    justify-content:space-around;
    justify-items:left;
    margin-left: 10px;
    grid-area: header;
}
.mainindex{
    grid-area: main;
    display: grid;
    justify-content: center;
    align-items: center;
}
.asideindex{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: aside;
}

.footerindex{
    display: grid;
    justify-items:start;
    align-content:space-between;
    grid-area: footer;
    background-color: antiquewhite;
}

@media screen and (max-widht:768px) {
    .contenedor{
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas:
    "header header"
    "main main"
    "aside aside"
    "footer footer";
    }
    .headerindex{
        display: grid;
        justify-content:start;
        align-items:center;
        grid-area: header;
    }
    .mainindex{
        grid-area: main;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .asideindex{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: aside;
    }
    .footerindex{
        display: grid;
        justify-items: start;
        align-content:space-between;
        grid-area: footer;
    }
}

@media screen and (max-widht:425px) {
    .contenedor{
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas:
    "header header"
    "main main"
    "aside aside"
    "footer footer";
}
.headerindex{
    display: grid;
    justify-content:start;
    align-items:center;
    grid-area: header;
}
.mainindex{
    grid-area: main;
    display: grid;
    justify-content: center;
    align-items: center;
}

.asideindex{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: aside;
}
.footerindex{
    display: grid;
    justify-content:left;
    align-content:space-between;
    margin-bottom: 10px;
    grid-area: footer;
}
.logovs{
    display: block; margin-bottom: 5px;
}
}